In [1]:
import pandas as pd

In [78]:
df = pd.read_csv('wagedata.csv')

In [79]:
del df['Unnamed: 4']

In [81]:
df = df.rename(columns={'Unnamed: 0': 'SSYK','Unnamed: 1': 'Job Description'})

In [192]:
df.dropna(inplace=True)

In [84]:
df.head()

,SSYK,Job Description,Sweden Born,Asia Born,Monthly salary,Median,10th percentile,25th percentile,75th percentile,90th percentile
5,921.0,Berry pickers and planters,1869,140.0,21000.0,20300,18100,19000,22600.0,25000
6,941.0,"Fast-food workers, food preparation assistants",46560,10518.0,21500.0,21400,17700,19900,22900.0,24800
7,31.0,"Armed forces occupations, other ranks",7138,72.0,21600.0,20200,18200,18900,22200.0,26500
8,531.0,Child care workers and teachers aides,80818,6987.0,21800.0,22000,18000,19500,23900.0,25400
9,911.0,Cleaners and helpers,34776,10781.0,21800.0,21600,19000,20400,22900.0,24600

In [186]:
df = df.sort_values(by='Monthly salary',ascending=True)


#numAsians = df['Asia Born'].sum()

#swedishDecile = numSwedes/10
#asianDecile = numAsians/10

df.head()

sumDecile = 0
#for i in range(0,len(df)-1):
i=0
j=0
#print df['Sweden Born'][1]
#while j < swedishDecile:
#    if j < df['Sweden Born'][i]:
#        sum += j*df['Monthly salary'][i]
#        j+1
#    i+1

#generates an income distribution given a population breakdown and salary
def genDeciles(group, salary):
    popGroup = df[group].sum()
    popDecile = (popGroup/10)
    totalIncome = (df[group] * df[salary]).sum()
    overflowPeople = []
    i=5
    for j in range(1,10):    
        #print "Decile population: " + str(popDecile)
        popSum = 0
        incomeSum = 0
        while i < len(df):
            if popSum + df[group][i] < popDecile:
                popSum = popSum + df[group][i]
                print df[group][i], "*", df[salary][i]
                incomeSum += df[group][i] * df[salary][i]
                #print popSum, incomeSum
                i+=1
            elif popSum + df[group][i] > popDecile:
                i+=1
                incomeSum = incomeSum + remainingPeople * df[salary][i]
                print remainingPeople, "*", df[salary][i]
                
                print "split a group at row", i
                print 100*incomeSum/totalIncome
                #print remainingPeople
                break
                
genDecile('Sweden Born','Monthly salary')

1869 * 21000.0
46560 * 21500.0
7138 * 21600.0
80818 * 21800.0
34776 * 21800.0
6402 * 22100.0
27579 * 22300.0
2573 * 22600.0
16655 * 23000.0
3353 * 23000.0
12269 * 23000.0
57308 * 23100.0
7298 * 23400.0
3437 * 23500.0
3024 * 23700.0
1521 * 23800.0
21386 * 24000.0
split a group at row 22
7.00795778968

0.0